.o365cs-notifications-newSocialActivityNotificationPopupIcon>.owaimg {
	left: 50%;
	top: 54%;
	position: absolute;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%)
}
.o365cs-notifications-notificationPopupArea {
	background: transparent;
	width: 352px
}
.o365-NFP .o365cs-notifications-systemActionText, .o365-NFP .o365-NFP-section .o365cs-notifications-reminders-location, .o365cs-notifications-notificationPopupArea .o365-NFP .o365cs-nfd-hide {
	display: block
}
.o365cs-me-itemsList {
	position: relative;
	outline: none
}
.o365cs-me-itemsList .button {
	cursor: pointer
}
.o365cs-userInfo {
	cursor: default !important
}
.o365cs-me-persona, .o365cs-me-altpersona {
	overflow: hidden;
	white-space: nowrap;
	padding-left: 21px;
	padding-right: 10px
}
.o365cs-me-persona {
	padding-top: 20px;
	padding-bottom: 20px
}
.o365cs-me-persona.o365cs-me-nophoto {
	padding-left: 16px
}
.o365cs-me-persona.o365cs-me-nophoto{
    padding-left: 16px;
}
.o365cs-me-cardimg, .o365cs-me-altpersona-img{
    position: absolute;
    top: 0;
    overflow: hidden;
}
.o365cs-me-cardimg{
    right: 0;
    width: 64px;
    height: 64px;
}
.o365cs-me-nophoto .o365cs-me-personaDetails{
    padding-left: 0;
}
.o365cs-me-changelink{
    font-size: 11px;
    line-height: normal;
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 70px;
    min-width: 0;
    height: auto;
    margin: 0;
    text-align: center;
    border: 0;
    background-color: transparent;
}
.o365cs-me-personaPhoto, .o365cs-me-altpersona-photoControl{
    position: relative;
    display: table-cell;
    width: 70px;
    height: 64px;
    vertical-align: top;
}
.o365cs-me-personaDetails, .o365cs-me-altpersonaDetails{
    display: table-cell;
    overflow: hidden;
    max-width: 268px;
    padding-left: 10px;
    vertical-align: middle;
    white-space: nowrap;
}
.o365cs-display-Block{
    display: block;
}