.Shell-Modern {
	width: 100%
}
.Shell-Modern>tbody>tr>td {
	vertical-align: top
}
.Shell-Modern #ShellHeader {
	position: relative;
	z-index: 2000
}
.Shell-Modern #ShellBodyAndFooterContainer {
	overflow: auto;
	position: relative
}
.Shell-Modern .Shell-Body {
	overflow: visible
}