._fce_q {
	max-height: none
}
._fce_a {
	min-width: 180px;
	outline: 0;
	overflow-y: auto;
	white-space: nowrap
}
._fce_b {
	outline: 0
}
._fce_c {
	position: relative
}
._fce_j {
	margin-right: 3px;
	vertical-align: middle
}
._fce_k {
	margin-right: 36px
}
._fce_p {
	overflow-x: hidden;
	max-height: 561px
}
._fce_P {
	overflow-x: hidden;
	max-height: 561px
}
._fce_4 ._fce_3 {
	background: #fff
}
.removeFocusOutline *:focus {
	outline: none
}
.o365cs-nav-appTileContextMenu {
	border: 1px solid #e5f0f9;
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .6);
	box-shadow: 0 0 8px rgba(0, 0, 0, .6)
}
.o365cs-nav-appTileContextMenu .scrollContainer {
	min-width: 165px
}
.o365cs-nav-appTileContextMenu .o365cs-contextMenuItem {
	display: block;
	padding: 5px 20px;
	font-family: "SegoeUI-Regular-final", "Segoe UI", "Segoe UI WPC", Segoe, Tahoma, Helvetica, Arial, sans-serif;
	font-size: 12px
}
.o365cs-nav-contextMenu .o365cs-contextMenuItem, .o365cs-nav-contextMenu .o365cs-contextMenuInactiveItem {
	display: block;
	padding: 10px 30px;
	font: 15px "SegoeUI-Regular-final", "Segoe UI", "Segoe UI WPC", Segoe, Tahoma, Helvetica, Arial, sans-serif;
	text-align: left;
	outline-offset: -1px;
	text-decoration:none;
}
.o365cs-nav-contextMenu .o365cs-contextMenuSeparator {
	border-top-style: solid;
	border-top-width: 1px
}
.o365cs-nav-inactivityCalloutBeak {
	position: absolute;
	bottom: -16px;
	left: 12px
}
.o365cs-nav-inactivityCalloutBeak:after, .o365cs-nav-inactivityCalloutBeak:before {
	border: solid transparent;
	content: ' ';
	height: 0;
	position: absolute;
	width: 0
}
.o365cs-nav-inactivityCalloutBeak:before {
	border-width: 9px;
	border-bottom-color: inherit;
	top: -18px;
	left: 5px
}
.o365cs-nav-inactivityCalloutBeak:after {
	border-width: 8px;
	border-bottom-color: inherit;
	top: -16px;
	left: 6px
}
.o365cs-nav-header16 {
	width: 100%;
	height: 50px;
	display: table;
	border-spacing: 0;
	font-size: 0;
	white-space: nowrap;
	line-height: normal
}
.o365cs-nav-header16 .o365cs-nav-topItem {
	display: inline-block;
	vertical-align: top
}
.o365cs-nav-header16 .o365cs-nav-bposLogo {
	display: inline-block;
	white-space: nowrap;
	vertical-align: middle;
	margin-top: 1px;
	padding-bottom: 1px
}
.o365cs-nav-header16 .o365cs-topnavText {
	line-height: 46px;
	display: inline-block;
	font-family: "SegoeUI-SemiLight-final", "Segoe UI SemiLight", "Segoe UI WPC Semilight", "Segoe UI", Segoe, Tahoma, Helvetica, Arial, sans-serif;
	font-size: 22px;
	-webkit-font-smoothing: antialiased
}
.o365cs-nav-header16 .o365cs-nav-appTitle {
	display: inline-block;
	vertical-align: middle;
	margin-top: 1px;
	padding-bottom: 1px
}
.o365cs-nav-navMenu {
	background-color: #fff;
	border: 1px solid #b6b6b6;
	-webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, .4);
	box-shadow: 0 1px 15px rgba(0, 0, 0, .4);
	-webkit-box-sizing: content-box !important;
	-moz-box-sizing: content-box !important;
	box-sizing: content-box !important;
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	position: absolute;
	left: auto !important;
	right: auto !important;
	margin: 10px;
	width: auto;
	min-width: 240px;
	max-width: 840px;
	height: auto;
	max-height: 990px;
	overflow-y: auto;
	outline: 0
}
.o365cs-base-visibility {
	visibility: hidden
}
.o365cs-base .ms-bcl-tp, .o365cs-base .ms-bcl-tp-h:hover {
	border-color: #0078d7
}
.o365cs-base.o365cs-topnavBGColor-2 {
	background-color: #005a9e
}
.o365cs-base.o365cs-topnavBGImage {
	background-position: center top;
	background-repeat: repeat-x;
	background-image: none
}
.o365cs-base .ms-fcl-w, .o365cs-base .ms-fcl-w-h:hover {
	color: #fff
}
.o365cs-base .ms-fcl-b, .o365cs-base .ms-fcl-b-h:hover {
	color: #000
}
.o365cs-base .ms-bgc-nl, .o365cs-base .ms-bgc-nl-h:hover {
	background-color: #eaeaea
}
.o365cs-base .ms-fcl-nt, .o365cs-base .ms-fcl-nt-h:hover {
	color: #a6a6a6
}
.o365cs-nav-header16 .o365cs-nav-o365Branding {
	padding-left: 20px;
	padding-right: 20px;
	border-left: 1px solid #fff;
	border-left-color: rgba(255, 255, 255, .3);
	height: 50px
}
.o365cs-nav-header16 .o365cs-nav-gallatinLogo {
	display: inline-block;
	vertical-align: top;
	margin-left: 6px;
	margin-top: 7px
}
.o365cs-nav-header16 .o365cs-nav-appTitleLine {
	display: inline-block;
	vertical-align: middle;
	height: 40px;
	width: 1px;
	background: #fff;
	background-color: rgba(255, 255, 255, .4);
	margin: 0 20px
}
.o365cs-nav-header16 .o365cs-nav-leftAlign {
	display: table-cell;
	vertical-align: middle
}
.o365cs-nav-header16 .o365cs-nav-centerAlign {
	display: table-cell;
	width: 100%;
	text-align: center;
	vertical-align: middle
}
.o365cs-nav-header16 .o365cs-nav-rightAlign {
	display: table-cell;
	vertical-align: top;
	text-align: right
}
.o365cs-nav-header16 .o365cs-nav-brandingText {
	line-height: 46px;
	display: inline-block;
	font-family: "SegoeUI-SemiLight-final", "Segoe UI SemiLight", "Segoe UI WPC Semilight", "Segoe UI", Segoe, Tahoma, Helvetica, Arial, sans-serif;
	font-size: 22px;
	-webkit-font-smoothing: antialiased
}
.o365cs-nav-header16 .o365cs-nav-button {
	display: block;
	vertical-align: middle;
	border-width: 0;
	margin: 0;
	padding: 0;
	min-width: 50px;
	height: 50px;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	line-height: normal;
	overflow: visible;
	cursor: pointer;
	outline-offset: -1px
}
.o365cs-nav-header16 .o365cs-nav-rightAlign .o365cs-nav-button {
	border-left: 1px solid #fff;
	border-left-color: rgba(255, 255, 255, .3)
}
.o365cs-nav-header16 .o365cs-nav-headerRegion {
	display: table-cell;
	vertical-align: top;
	width: 100%;
	position: relative;
	overflow: hidden
}
.o365cs-nav-header16 .o365cs-nav-notificationTrayContainer {
	display: inline-block;
	vertical-align: top;
	height: 50px
}
.o365cs-nav-header16 .o365cs-nav-pinnedAppsContainer {
	display: inline-block;
	border-left: 1px solid #fff;
	border-left-color: rgba(255, 255, 255, .3)
}
.o365cs-nav-header16 .o365cs-nav-pinnedApps {
	display: inline-block;
	vertical-align: middle
}
.o365cs-nav-header16 .o365cs-nav-rightMenus {
	display: table-cell;
	vertical-align: top
}
.o365cs-nav-header16 .o365cs-me-nav-item {
	border-left: none !important;
	padding-top: 0;
	z-index: 1;
	min-width: 55px
}
.o365cs-nav-header16 .o365cs-nav-item {
	position: relative;
	-webkit-transition: background-color .467s cubic-bezier(.1, .9, .2, 1) 34ms;
	-moz-transition: background-color .467s cubic-bezier(.1, .9, .2, 1) 34ms;
	transition: background-color .467s cubic-bezier(.1, .9, .2, 1) 34ms
}
@media print {
	.o365cs-nav-header16 .wf-family-o365::before {
		content: '' !important
	}
	.o365cs-nav-header16 .wf-family-o365 {
		display: none !important
	}
}
.o365cs-nav-contextMenu {
	background-color: #fff;
	border-left: 1px solid #dedede;
	border-right: 1px solid #dedede;
	border-bottom: 1px solid #dedede;
	-webkit-box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	box-shadow: 0 0 10px rgba(0, 0, 0, .2);
	min-width: 180px;
	max-width: 375px;
	clip: rect(0, 10000px, 10000px, -10px);
	outline: 0
}
.o365cs-context-font {
	font: 19px "SegoeUI-Regular-final", "Segoe UI", "Segoe UI WPC", Segoe, Tahoma, Helvetica, Arial, sans-serif
}
.contextMenuPopup {
	background-color: #fff
}
.o365cs-base .o365cs-topnavText, .o365cs-base .o365cs-topnavText:hover {
	color: #fff
}
.o365cs-base .ms-bgc-tdr, .o365cs-base .ms-bgc-tdr-h:hover {
	background-color: #104a7d
}
.o365cs-base .o365cs-topnavLinkBackground-2 {
	background-color: #005a9e
}
.o365cs-base .o365cs-topnavLinkBackground-2 {
	background-color: rgba(255, 255, 255, .0)
}
.o365cs-base .ms-bgc-nt, .o365cs-base .ms-bgc-nt-h:hover {
	background-color: #a6a6a6
}
.o365cs-me-contextMenu {
	width: 374px;
	padding-right: 1px;
	white-space: nowrap
}
.o365cs-base .ms-bgc-w, .o365cs-base .ms-bgc-w-h:hover, .o365cs-base.ms-bgc-w {
	background-color: #fff
}
.o365cs-base .ms-bcl-nl, .o365cs-base .ms-bcl-nl-h:hover {
	border-color: #eaeaea
}
.o365cs-base .ms-bgc-tp, .o365cs-base .ms-bgc-tp-h:hover, .o365cs-base.ms-bgc-tp {
	background-color: #0078d7
}
.o365cs-display-none {
	display: none !important
}
.o365cs-breadCrumbContainer {
	display: inline;
	padding-left: 10px
}
.o365button {
	background: transparent;
	border-width: 0;
	padding: 0;
	cursor: pointer !important;
	font-size: 14px
}
.o365button:disabled {
	cursor: default !important
}
.o365cs-w100-h100 {
	height: 100%;
	width: 100%
}
.o365cs-flexPane-unseenitems {
	position: absolute;
	bottom: 43px;
	left: 22px
}
.o365cs-me-tileview-container {
	height: 50px;
	width: 55px;
	overflow: hidden;
	position: relative;
	display: table-cell;
}
.o365cs-me-tileimg {
	width: 50px;
	height: 50px;
	overflow: hidden;
	position: absolute;
	line-height: normal;
	top: 0;
	left: 5px
}
.o365cs-me-personaimg {
	position: absolute;
	left: 0
}
.o365cs-me-tileview {
	width: 55px;
	height: 50px;
	overflow: hidden
}
.o365cs-me-presence5x50 {
	width: 5px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0
}
.o365cs-me-presence1x50 {
	width: 1px;
	height: 50px;
	position: absolute;
	top: 0;
	left: 0
}
.o365cs-me-presenceColor-Offline {
	background-color: #b6cfd8
}
.o365cs-me-tile-container {
	display: table-cell
}
.o365cs-me-tile-nophoto>.o365cs-me-presenceOffline5x50 {
	display: table-cell
}
.o365cs-me-tile-nophoto {
	border-left: 1px solid #fff;
	border-left-color: rgba(255, 255, 255, .3)
}
.o365cs-me-tile-nophoto-username-container {
	display: table-cell;
	height: 50px;
	padding-left: 0px;
	vertical-align: middle;
	white-space: nowrap;
	max-width: 250px;
	overflow: hidden
}
.o365cs-me-tile-nophoto-down {
	padding: 0 0 0 0;
	display: table-cell
}
.o365cs-me-tile-nophoto-username {
	display: table-cell;
	vertical-align: middle;
	height: 50px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px
}
.o365cs-me-triangle-container {
	display: table-cell;
	height: 50px;
	width: 20px;
	vertical-align: top;
	position: absolute;
	right: 0px;
}
.o365cs-navMenuButton {
	-moz-transition-duration: .65s;
	-webkit-transition-duration: .65s;
	transition-duration: .65s;
	-moz-transition-property: background-color;
	-webkit-transition-property: background-color;
	transition-property: background-color;
	-moz-transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
	transition-timing-function: ease
}
.o365cs-nav-header16 .o365cs-navMenuButton {
	color: #fff
}
.o365cs-base .o365cs-navMenuButton {
	color: #fff
}
.wf {
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
	vertical-align: middle;
	display: inline-block
}
.wf-family-o365 {
	font-family: 'office365icons', 'o365Icons'
}
.wf-size-x10 {
	font-size: 10px !important
}
.wf-size-x12 {
	font-size: 12px !important
}
.wf-size-x18 {
	font-size: 18px !important
}
.wf-size-x20 {
	font-size: 20px !important
}
.wf-o365-x18 {
	font-size: 18px
}
.wf-o365-x36 {
	font-size: 36px
}
.wf-size-x52 {
	font-size: 52px !important
}
.wf-size-x61 {
	font-size: 61px !important
}
.wf-o365-downcarat:before {
	content: ''
}
.o365cs-notifications-newSocialActivityNotificationPopupIcon>.owaimg {
	left: 50%;
	top: 54%;
	position: absolute;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%)
}
.o365cs-notifications-notificationPopupArea {
	background: transparent;
	width: 352px
}
.o365-NFP .o365cs-notifications-systemActionText, .o365-NFP .o365-NFP-section .o365cs-notifications-reminders-location, .o365cs-notifications-notificationPopupArea .o365-NFP .o365cs-nfd-hide {
	display: block
}
.o365cs-me-itemsList {
	position: relative;
	outline: none
}
.o365cs-me-itemsList .button {
	cursor: pointer
}
.o365cs-userInfo {
	cursor: default !important
}
.o365cs-me-persona, .o365cs-me-altpersona {
	overflow: hidden;
	white-space: nowrap;
	padding-left: 21px;
	padding-right: 10px
}
.o365cs-me-persona {
	padding-top: 20px;
	padding-bottom: 20px
}
.o365cs-me-persona.o365cs-me-nophoto {
	padding-left: 16px
}
.o365cs-me-persona.o365cs-me-nophoto{
    padding-left: 16px;
}
.o365cs-me-cardimg, .o365cs-me-altpersona-img{
    position: absolute;
    top: 0;
    overflow: hidden;
}
.o365cs-me-cardimg{
    right: 0;
    width: 64px;
    height: 64px;
}
.o365cs-me-nophoto .o365cs-me-personaDetails{
    padding-left: 0;
}
.o365cs-me-changelink{
    font-size: 11px;
    line-height: normal;
    position: absolute;
    bottom: -17px;
    left: 0;
    width: 70px;
    min-width: 0;
    height: auto;
    margin: 0;
    text-align: center;
    border: 0;
    background-color: transparent;
}
.o365cs-me-personaPhoto, .o365cs-me-altpersona-photoControl{
    position: relative;
    display: table-cell;
    width: 70px;
    height: 64px;
    vertical-align: top;
}
.o365cs-me-personaDetails, .o365cs-me-altpersonaDetails{
    display: table-cell;
    overflow: hidden;
    max-width: 268px;
    padding-left: 10px;
    vertical-align: middle;
    white-space: nowrap;
}
.o365cs-display-Block{
    display: block;
}
@font-face {
  font-family: 'office365icons';
  src: url('../font/office365icons.eot?');
  src: url('../font/office365icons.eot?#iefix') format('embedded-opentype'),
       url('../font/office365icons.woff?') format('woff'),
       url('../font/office365icons.ttf?') format('truetype'),
       url('../font/office365icons.svg?#office365icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'office365icons';
    src: url('../font/office365icons.svg?84651365#office365icons') format('svg');
  }
}
*/
 
 [class^="ms-Icon--"]:before, [class*=" ms-Icon--"]:before {
  font-family: "office365icons";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
}
 
.ms-Icon--caretDown:before { content: '\e052'; } /* 'ÓÅí' */